<div class="row">
  <h1>Disney World Wait Times</h1>
  <p><span class="number">Text (657) 900-4302</span> with your favorite ride and get the current wait time.</p>
</div>

<div class="row">
  <p class="small">Created by <a href="http://lupitadavila.com">Lupita Davila</a>. View on <a href="https://github.com/lupitadavila/disney-wait-time">github</a></p>
</div>
